<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{_commons/fragments/head :: defaultHead}" />
<body>
<div th:fragment="auditFields(audit)" th:remove="tag">
	<div class="row justify-content-center justify-content-md-between">
		<div class="col-md-3"><label th:for="${'audit.createdBy-' + audit.hashCode}"><span>Created by:</span></label></div>
		<div class="col-md-3">
			<input type="text" th:id="${'audit.createdBy-' + audit.hashCode}" th:value="${audit.createdBy}" readonly disabled />
		</div>
	</div>
	<div class="row">
		<div><label th:for="${'audit.createdOn-' + audit.hashCode}"><span>Created on:</span></label></div>
		<div>
			<input type="datetime-local" th:id="${'audit.createdOn-' + audit.hashCode}" readonly disabled
					th:value="${#temporals.format(audit.createdOn, 'yyyy-MM-dd''T''HH:mm')}" />
		</div>
	</div>
	<div>
		<div><label th:for="${'audit.modifiedBy-' + audit.hashCode}"><span>Modified by:</span></label></div>
		<div>
			<input type="text" th:id="${'audit.modifiedBy-' + audit.hashCode}" th:value="${audit.modifiedBy}" readonly disabled />
		</div>
	</div>
	<div>
		<div><label th:for="${'audit.modifiedOn-' + audit.hashCode}"><span>Modified on:</span></label></div>
		<div>
			<input type="datetime-local" th:id="${'audit.modifiedOn-' + audit.hashCode}" readonly disabled
					th:value="${#temporals.format(audit.modifiedOn, 'yyyy-MM-dd''T''HH:mm')}" />
		</div>
	</div>
</div>
</body>
</html>
